[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
psycopg2 = "*"
pillow = "*"
social-auth-app-django = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"
django = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.10"
